//=======================================================
// Base
//=======================================================

// Set default font family to sans-serif.
// Prevent iOS text size adjust after orientation change, without disabling
// user zoom.
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;

  // gradient border effect
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background: $gradient-cerulean-lima;
  }
}

// HTML5 display definitions
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

// Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
template {
  display: none;
}

// Generic visually hidden elements
.visually-hidden {
  @include element-invisible;
}

.clearfix {
  @include clearfix;
}

.image--border {
  border: 2px solid color(gray-dusty);
}

// Picture Elements
//
// Markup: {{#picture}}{{/picture}}
//
// Style guide: base.picture

.picture__image,
.image--border {
  img {
    display: block;
    width: 100%;
  }
}

hr {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid color(gray-dove-solid);
}