button,
input[type="button"],
input[type="submit"],
.button,
%button {
  display: inline-block;
  background-color: color(green-lima);
  color: color(white-solid);
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
  font-weight: $font-light;
  font-size: 1.6rem;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: color(green-atlantis);
    color: color(white-solid);
  }
}

.button--border {
  border: 2px solid color(white-solid);

  &:hover,
  &:focus,
  &:active {
    border: 2px solid color(white-solid);
  }
}