/* Open Sans - Book */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("../assets/fonts/OpenSans/Regular/OpenSans-Regular.woff") format("woff"); }

/* Open Sans - Light */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("../assets/fonts/OpenSans/Light/OpenSans-Light.woff") format("woff"); }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.5; }

* {
  box-sizing: inherit; }
  *:before,
  *:after {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }
  body:before {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #0479b5 50%, #78be20 100%); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

template {
  display: none; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.image--border {
  border: 2px solid #999999; }

.picture__image img,
.image--border img {
  display: block;
  width: 100%; }

hr {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid #d0d1d2; }

html {
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 1.6rem;
  font-weight: 300;
  color: #63666a; }

p,
dt,
dd {
  line-height: 1.3; }

p {
  margin: 0 0 10px; }

article {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 300; }

a {
  color: #159cdf;
  text-decoration: none;
  transition: color 0.3s ease; }
  a:hover,
  a:focus,
  a.focus,
  a.active,
  a:active {
    color: #00507f;
    outline: 0; }

article a:focus,
article a.focus,
article a.active,
article a:active,
aside a:focus,
aside a.focus,
aside a.active,
aside a:active {
  border-bottom: 2px solid; }

blockquote {
  display: block;
  background: #78be20;
  color: #ffffff;
  padding: 3rem;
  margin: 0.8rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 4.4rem;
  line-height: 1.18;
  font-weight: 400;
  font-style: italic; }

dfn {
  font-style: italic; }

abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

pre {
  margin: 0;
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem; }

hr {
  box-sizing: content-box;
  height: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 0 0 10px;
  text-rendering: geometricPrecision;
  color: #63666a; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #00507f; }

h2 {
  font-size: 1.8rem;
  font-weight: 300; }

h3 {
  font-size: 1.6rem;
  font-weight: 300; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.2rem; }

.page-header {
  margin-bottom: 0; }

.callout {
  font-size: 1.2rem;
  font-weight: 300;
  color: #63666a; }

.caption {
  font-size: 1.3rem;
  line-height: 1;
  font-style: italic;
  color: #159cdf; }

ul,
ol,
dl {
  margin: 0 0 10px; }

ol,
ul {
  padding-left: 15px; }

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0 0 5px;
  padding-left: 10px; }

li {
  margin: 5px 0; }
  li li {
    margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  font-size: 1.4rem; }

td,
th {
  padding: 0.5rem 1rem;
  border: 0; }

th {
  border-bottom: 1px solid #d0d1d2; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: content-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: 700; }

label {
  display: block;
  line-height: 1.5;
  padding: .5rem 0; }

input[type="text"] {
  font-size: 1.6rem; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

img {
  height: auto;
  border: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 10px; }

button,
input[type="button"],
input[type="submit"],
.button {
  display: inline-block;
  background-color: #78be20;
  color: #ffffff;
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  border: none; }
  button:hover,
  button:focus,
  button:active,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  .button:hover,
  .button:focus,
  .button:active {
    background-color: #91da35;
    color: #ffffff; }

.button--border {
  border: 2px solid #ffffff; }
  .button--border:hover,
  .button--border:focus,
  .button--border:active {
    border: 2px solid #ffffff; }

.kss-article,
.kss-section,
.kss-aside {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }

.l-center,
.l-content-header {
  padding: 0 2rem;
  /* Tablet and up padding. Mobile padding is on
   * individual sections (ex: branding, footer)
   */ }
  .l-center:after,
  .l-content-header:after {
    content: '';
    display: table;
    clear: both; }

.l-content-sidebar {
  clear: both;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .l-content-sidebar:after {
    content: '';
    display: table;
    clear: both; }

.l-content-sidebar__content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 0;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  margin-bottom: 2.5rem;
  padding: 0 2rem; }

.l-content-sidebar__sidebar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-right: 0;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.l-content-header {
  margin: 2rem 0; }

.site-logo {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url("../assets/dist/images/site-logo.png");
  background-image: url("../assets/dist/images/site-logo.svg"), none;
  width: 257px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  max-width: 100%; }
  .site-logo:focus,
  .site-logo:active,
  .site-logo.active {
    border-bottom: none; }

.sidebar__block {
  background: #159cdf;
  color: #ffffff;
  padding: 2rem;
  margin-bottom: 2rem; }

/*# sourceMappingURL=maps/styleguide.no-query.css.map */
