//=======================================================
// Colors
// --------------------------------------------
// Prefix all color variables with $color-.
// This makes it easy to figure out what a variable
// is doing later.
//
// Named using tp://chir.ag/projects/name-that-color
//=======================================================

// Colors (map)
$color: (
  gray-dove: rgba(#63666a, 0.3),
  gray-dove-solid: #d0d1d2,
  gray-mine-shaft: #63666a,
  gray-dusty: #999999,
  gray-concrete: #f2f2f2,
  blue-curious: #159cdf,
  blue-curious-fade: rgba(#159cdf, 0.3),
  blue-cerulean: #0479B5,
  blue-orient: #00507f,
  blue-orient-fade: rgba(#00507f, 0.5),
  green-lima: #78be20,
  green-lima-fade: rgba(#78be20, 0.5),
  green-atlantis: #91da35,
  purple-finn: #5e2751,
  white-solid: #ffffff,
  black-solid: #000000,

  // Admin theme colors.
  // For use in admin components such as tabs and contextual links.
  gray-silver: #aaaaaa,
  gray-westar: #e0e0d8,
  gray-tundora: #494949,

);

// Shades

// Gradients
$gradient-cerulean-lima: linear-gradient(to right, #0479b5 50%, #78be20 100%);
