<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Basic Page | Styleguide</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../css/styleguide.main.css" />
    <link rel="stylesheet" href="../../../css/styleguide.print.css" />
    <link rel="icon" type="image/x-icon" href="../../../assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="../../../assets/favicon/apple-touch-icon.png">
    <!--[if lt IE 9]>
    <script src="public/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="no-js">
    <div class="l-wrap-max wrap-max">
      <div class="l-wrap-max__container wrap-max__container">
        <div class="l-content-header">
          {{> components.site-logo}}
        </div>
        {{> pages.basic-page}}
      </div>
    </div>
    <script src="public/jquery-1.9.1.min.js"></script>
    {{{scripts}}}
  </body>
</html>
