// Site Logo
//
// This is a logo component. There's an added wrapper with an inline background color
// so that the logo can be viewed.
//
// Markup: components.site-logo.hbs
//
// Style guide: components.site-logo

.site-logo {
  @include image-replace;
  @include background-svg('#{$asset-path}/images/site-logo.svg');
  width: 257px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;

  &:focus,
  &:active,
  &.active {
    border-bottom: none;
  }
}