<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Styleguide Style Guide</title>
    <meta name="description" content="" />
    <meta name="generator" content="kss-node" />
    <link rel="stylesheet" href="public/kss.css" />
    <link rel="stylesheet" href="../../../css/styleguide.main.css" />
    <!--[if lt IE 9]>
    <script src="public/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body id="kss-node" class="no-js">
    <div class="kss-wrapper">
      <div class="kss-sidebar">
        <div class="kss-sidebar-inner">
          <header class="kss-header">
            {{> components.site-logo}}
          </header>
          <nav class="kss-nav">
            <ul class="kss-menu" data-kss-ref="{{rootName}}">
              <li class="kss-menu-item"><a href="./index.html"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
              {{#eachRoot}}
                <li class="kss-menu-item">
                  <a href="section-{{reference}}.html"><span class="kss-ref">{{#ifNumeric reference}}{{reference}}{{else}}{{autoincrement}}{{/ifNumeric}}</span><span class="kss-name">{{header}}</span></a>
                  {{#ifReference ../rootName}}
                    <ul class="kss-menu-child">
                      {{#eachSection reference}}
                        {{#ifDepth 1}}
                        {{else}}
                          <li class="kss-menu-item"><a href="#section-{{reference}}"><span class="kss-ref">{{#ifNumeric reference}}{{reference}}{{else}}{{autoincrement}}{{/ifNumeric}}</span><span class="kss-name">{{header}}</span></a></li>
                        {{/ifDepth}}
                      {{/eachSection}}
                    </ul>
                  {{/ifReference}}
                </li>
              {{/eachRoot}}
            </ul>
          </nav>
        </div>
      </div>
      <div class="kss-content">
        <article class="kss-article">
          {{#if homepage}}
          <section id="section-0" class="kss-section kss-overview">
            {{{homepage}}}
          </section>
          {{else}}
          {{#eachSection rootName}}
          <section id="section-{{reference}}" class="kss-section kss-depth-{{depth}}">
            <h1 class="kss-title"><a href="#section-{{reference}}"><span class="kss-ref">{{#ifNumeric reference}}{{reference}}{{else}}{{autoincrement}}{{/ifNumeric}}</span></a> {{header}}</h1>
            {{#if markup}}
            {{#if description}}
            <div class="kss-description">
              {{{description}}}
            </div>
            {{/if}}
            <div class="kss-modifier-block">
              <div class="kss-modifier kss-modifier-original">
                <div class="kss-modifier-example">
                  {{{markup}}}
                </div>
              </div>
              {{#eachModifier}}
              <div class="kss-modifier">
                <div class="kss-modifier-head">
                  <div class="kss-modifier-name">{{name}}</div>
                  <div class="kss-modifier-description">
                    {{{description}}}
                  </div>
                </div>
                <div class="kss-modifier-example">
                  {{{markup}}}
                </div>
              </div>
              {{/eachModifier}}
              <div class="kss-markup">
                <pre><code data-language="html">{{markup}}</code></pre>
              </div>
            </div>
            {{else}}
            {{#if description}}
            <div class="kss-description">
              {{{description}}}
            </div>
            {{/if}}
            {{/if}}
          </section>
          {{/eachSection}}
          {{/if}}
        </article>
        <footer class="kss-footer">
          <div>Created using <a href="https://github.com/hughsk/kss-node">kss-node</a> and <a href="https://github.com/htanjo/kss-node-template">kss-node-template</a>.</div>
        </footer>
      </div>
    </div>
    <script src="public/kss.js"></script>
    <script src="public/jquery-1.9.1.min.js"></script>
    {{{scripts}}}
    <!--[if gt IE 8]><!-->
    <script src="public/rainbow.min.js"></script>
    <!--<![endif]-->
    <script src="public/main.js"></script>
  </body>
</html>
